body {
  background-color: black;
  color: blue;
  padding-top: 30px;
  font-family: arial;
  font-weight: normal;
  line-height: 140%;
  margin: 0;
}
.caixa-exterior {
  //margin:  20px;
  background-image: url(bgCaminhadapeloautismo2012.png);
  background-repeat: no-repeat;
  width: 310px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: justify;
}
.contacto {
  padding: 0px 20px 0px 20px;
}
.contacto p {
  font-size: 70%;
  color: blue;
  line-height: normal;
  text-align: center;
}
.formulario {
  width:300px;
}
.text-input  {
  border:2px solid #a1a1a1;
  padding:2px 10px; 
  background:lightyellow;
  width:195px;
  border-radius:20px;
  -moz-border-radius:20px; /* Firefox 3.6 and earlier */
  margin-left: 10px;
}
.bloco {
  padding: 10px 20px 10px 20px;
}
.inscricao {
  padding: 0px 20px 10px 20px;
}
form, ul {
  padding-top: 0px;
  margin-top: 0px;
}
ul {
  padding-left: 0px;
  padding-right: 0px;
}
.button {
  background: blue;
  width: 275px;
  height: 30px;
  border-radius: 20px;
  color: lightYellow;
  font-weight: bold;
}
p {
  text-shadow: #6374AB 1px 1px 2px;
}
#mensagem {
  color: red;
  font-size: 12px;
  line-height: 12px;
  margin-left: 20px;
}